{{! views/partials/footer.hbs }}
<footer class="footer mt-auto py-3 bg-dark">
    <div class="container text-center">
        <span class="text-white">© 2024 Skate Park. Todos los derechos reservados.</span>
    </div>
</footer>