<!-- views/500.hbs -->
<div>
    <h1>Error interno del servidor</h1>
    <p>Ocurrió un problema interno en el servidor. Intenta nuevamente más tarde.</p>
    <a href="/">Volver a la página principal</a>
</div>